# Phase 1

## Goal :
 Our goal is to develop predictive models that can classify individuals at diabetes risk early on by addressing this health data, enabling timely interventions and improved health outcomes.

### Source:
 we use Kaggle to get our dataset it is a website that allows users to find datasets they want and publish datasets.
 
 Link: https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset

### Dataset information 
 The Diabetes Health Indicators dataset was originally published in 2015 by Alex Teboul using BRFSS survey.
The dataset contains measurements of health indicators that affect the individualâ€™s condition: no diabetes, prediabetes and diabetes.

Each row in the dataset represents an Individual health indicator , These indicators (attribute) are :

In [2]:
dataDescription = {
    ' Attributes name  ': ['Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker', 'Stroke', 'HeartDiseaseorAttack',
                'PhysActivity', 'Fruits', 'Veggies', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth', 'DiffWalk', 'Sex',
                'Age', 'Education'],
    'Description': [' level of diabetes, 0 = no diabetes, 1 = prediabetes, 2 = diabetes',
                    ' has high blood pressure,0 = no high BP, 1 = high BP',
                    ' has high cholesterol, 0 = no high cholesterol, 1 = high cholesterol',
                    ' has had a cholesterol check in the last 5 years, 0 = no cholesterol check in 5 years, 1 = yes cholesterol check in 5 years',
                    ' Body Mass Index, a measure of body fat based on height and weight.',
                    ' Indicates whether the individual has smoked at least 100 cigarettes in their lifetime,',
                    ' has ever been told they had a stroke, 0 = no, 1 = yes',
                    ' has coronary heart disease or has had a heart attack, 0 = no, 1 = yes where 0 means no and 1 means yes. ',
                    ' engaged in physical activity in the past 30 days, excluding job-related activity,0 = no, 1 = yes',
                    ' consumes fruit one or more times per day,0 = no, 1 = yes',
                    ' consumes vegetables one or more times per day,0 = no, 1 = yes',
                    ' has any kind of health care coverage, 0 = no, 1 = yes',
                    ' had to forgo seeing a doctor in the past 12 months due to cost, 0 = no, 1 = yes',
                    ' general health perception on a scale 1-5 (1 = excellent, 5 = poor)',
                    ' has serious difficulty walking or climbing stairs, 0 = no, 1 = yes',
                    ' sex, 0 = female, 1 = male',
                    ' age category, typically divided into 13-level age category (1 = 18-24, 9 = 60-64, 13 = 80 or older)',
                    ' Education level (EDUCA see codebook) scale 1-6 (1 = Never attended school or only kindergarten, 2 = Grades 1 through 8)',
                    ],
    'Data type': ['0,1,2', 'Binary', 'Binary', 'Binary', 'N/A', 'Binary', 'Binary', 'Binary', 'Binary', 'Binary', 'Binary', 'Binary', 'Binary',
                    '1-5', 'Binary', 'Binary', '13 levels', '1-6']
}

dsf = pd.DataFrame(dataDescription)
display (dsf)

,Attributes name,Description,Data type
0,Diabetes_012,"level of diabetes, 0 = no diabetes, 1 = predi...","0,1,2"
1,HighBP,"has high blood pressure,0 = no high BP, 1 = h...",Binary
2,HighChol,"has high cholesterol, 0 = no high cholesterol...",Binary
3,CholCheck,has had a cholesterol check in the last 5 yea...,Binary
4,BMI,"Body Mass Index, a measure of body fat based ...",N/A
5,Smoker,Indicates whether the individual has smoked a...,Binary
6,Stroke,"has ever been told they had a stroke, 0 = no,...",Binary
7,HeartDiseaseorAttack,has coronary heart disease or has had a heart...,Binary
8,PhysActivity,engaged in physical activity in the past 30 d...,Binary
9,Fruits,"consumes fruit one or more times per day,0 = ...",Binary
10,Veggies,consumes vegetables one or more times per day...,Binary
11,AnyHealthcare,"has any kind of health care coverage, 0 = no,...",Binary
12,NoDocbcCost,had to forgo seeing a doctor in the past 12 m...,Binary
13,GenHlth,general health perception on a scale 1-5 (1 =...,1-5
14,DiffWalk,has serious difficulty walking or climbing st...,Binary
15,Sex,"sex, 0 = female, 1 = male",Binary
16,Age,"age category, typically divided into 13-level...",13 levels
17,Education,Education level (EDUCA see codebook) scale 1-...,1-6

In [25]:
# imports

import pandas as pd

In [6]:

data = pd.read_csv('diabetes_012_health_indicators_502Rows.csv')
df = pd.DataFrame(data)
display (df)

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,AnyHealthcare,NoDocbcCost,GenHlth,DiffWalk,Sex,Age,Education
0,0,1,1,1,40,1,0,0,0,0,1,1,0,5,1,0,9,4
1,0,0,0,0,25,1,0,0,1,0,0,0,1,3,0,0,7,6
2,0,1,1,1,28,0,0,0,0,1,0,1,1,5,1,0,9,4
3,0,1,0,1,27,0,0,0,1,1,1,1,0,2,0,0,11,3
4,0,1,1,1,24,0,0,0,1,1,1,1,0,2,0,0,11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,2,0,1,1,31,0,0,0,1,0,0,1,0,3,0,1,10,2
497,2,1,0,1,40,0,0,0,0,0,0,1,0,4,0,0,8,4
498,2,1,1,1,23,0,0,1,1,1,1,1,1,3,0,0,7,4
499,2,1,0,1,34,0,0,0,0,1,0,1,0,3,1,0,10,5
500,2,1,0,1,40,1,0,0,1,1,1,1,0,4,0,0,8,5